<div class="c-canvas-buttons">
  <button (click)="deselectIcon()"
          *ngIf="isImageSelected"
          class="c-canvas-button">X</button>
  <img (click)="selectIcon('assets/tree-04.svg', $event)"
       class="c-canvas-clipart-icon"
       src="assets/tree-04.svg" />
  <button (click)="onZoom('out')"
          class="c-canvas-button">-</button>
  <button (click)="onZoom('in')"
          class="c-canvas-button">+</button>
</div>
<canvas #batMapCanvas
        [attr.height]="viewPortHeight + 'px'"
        [attr.width]="viewPortWidth + 'px'"
        (mousedown)="onMouseDown($event)"
        (mouseup)="onMouseUp($event)"
        (mousemove)="onMouseMove($event)"
        (window:keydown.ArrowLeft)="left()"
        (window:keydown.ArrowRight)="right()"
        (window:keydown.ArrowUp)="up()"
        (window:keydown.ArrowDown)="down()"
        (window:mousemove)="onCursorMove($event)"
        [style.cursor]="iconUrl">
</canvas>
<img #cursorImage
     class="c-canvas-clipart-cursor"
     [style.top.px]="iconImageTop"
     [style.left.px]="iconImageLeft"
     [height]="'100px'"
     [width]="'100px'"
     (mousedown)="onMouseDown($event)"
     (mouseup)="onMouseUp($event)"
     *ngIf="isImageSelected"
     [src]="iconImageUrl" />
