<!--Main Canvas-->
<canvas #canvasRef
        [attr.height]="viewPortHeight + 'px'"
        [attr.width]="viewPortWidth + 'px'"
        (mousedown)="onMouseDown($event)"
        (mouseup)="onMouseUp($event)"
        (mousemove)="onMouseMove($event)"
        (window:mousemove)="onCursorMove($event)">
</canvas>

<!--Tool Type Picker-->
<div class="c-canvas-tool-picker"
     (mouseenter)="toggleCursorIcon()"
     (mouseleave)="toggleCursorIcon()"
     *ngIf="isToolActive">
  <img *ngFor="let url of toolPalletes; let i = index;"
       (click)="selectPallete(i)"
       [class.is-selected]="palleteIsSelected(i)"
       class="c-canvas-tool-picker__icon"
       [src]="url" />
</div>

<!--Saved Maps Menu-->
<div class="c-canvas-tool-picker"
     *ngIf="isSavedMapsMenuVisible">
  <a *ngFor="let maps of savedMaps(); let i = index;"
     (mousedown)="openMap(i)"
     class="c-canvas-menu-link">File: {{i + 1}}</a>
</div>

<!--Transient Cursor Image-->
<img #cursorImage
     class="c-canvas-tool-cursor"
     [style.top.px]="iconImageTop + 10"
     [style.left.px]="iconImageLeft + 10"
     [height]="'100px'"
     [width]="'100px'"
     *ngIf="isToolActive && displayCursorIfPossible"
     (mousedown)="onMouseDown($event)"
     (mouseup)="onMouseUp($event)"
     [src]="cursorImageUrl" />
