* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.c-app-root {
  position: absolute;
  overflow: auto;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

.c-app-header {
  position: absolute;
}
