@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.c-app-root {
  position: absolute;
  overflow: auto;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

.c-app-header {
  position: absolute;
  font-family: 'Press Start 2P', cursive;
  margin: 15px;
  color: #a7bc9d;
  z-index: 10;
}
